.jumbotron {
  text-align: center;
  background-color: rgb(98, 199, 199);
  height: 15vh;
  padding-top: 1em;
}

.jumbotron h1 {
  font-size: 50px;
}

.tapListHeader {
  text-align: center;
}

.kegIcon {
  float: left;
  margin: 5px;
}

.kegLow {
  filter: hue-rotate(40deg);
}

.kegEmpty {
  filter: grayscale(100%);
}

.pintPic {
  float: left;
  margin: 5px;
  width: 10em;
}

.kegTapping {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}